.main-navbar-filter
    background          : #3039a1
    height              : 40px

ul
    display             : flex
    width               : 100%
    margin-bottom       : 0px
    justify-content     : center

li
    font-size           : 15px
    color               : #fff
    list-style          : none
    width : 8%
    position: relative;
    display: flex;
    justify-content: center;
    min-width 100px
    margin-left 0px

.li:hover
    background : #262e81
    color: rgb(255, 230, 0)
    transition: 0.2s;
    cursor pointer;

