<mat-toolbar class="main-navbar-filter animate__animated animate__bounceInDown">
    <ul>
        <li class="li">
            <i class="fa-solid fa-chess-rook icon-show"></i>
            Juegos
            <i class="fa-solid fa-angle-down icon-show-arrow"></i>
        </li>
        <li class="li"><i class="fa-solid fa-microchip icon-show"></i>Tecnología</li>
        <li class="li"><i class="fa-solid fa-robot icon-show"></i>Robótica</li>
        <li class="li"><i class="fa-solid fa-film icon-show"></i>Películas</li>
        <li class="li"><i class="fa-solid fa-gamepad icon-show"></i>Consolas</li>
        <li class="li"><i class="fa-solid fa-file-lines icon-show"></i>Software</li>
        <li class="li"><i class="fa-solid fa-computer icon-show"></i>Hardware</li>
    </ul>
</mat-toolbar>