.main-navbar-filter
    background          : #3039a1
    height              : 40px

.icon-show
    display: flex
    align-items: center
    margin-right: 10px
    font-size: 15px
    // margin-top :5px

.icon-show-arrow
    display: flex
    align-items: center
    margin-left: 8px
    font-size: 12px

ul
    display             : flex
    width               : 100%
    margin-bottom       : 0px
    justify-content     : center

li
    font-size           : 15px
    color               : #fff
    list-style          : none
    width : 8%
    position: relative;
    display: flex;
    justify-content: center;
    min-width 100px
    margin-left 0px
    margin-top: 1px

.li:hover
    background : #262e81
    color: rgb(255, 230, 0)
    transition: 0.2s;
    cursor pointer;

.games
    // display none

.games:hover
    display : inline-block
    width : 80%
    background white