<div class="cards-list">

    <div class="card">
        <div class="card_image"> 
            <img src="../../../assets/img/logo.jpg" />
        </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 2">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
        </div>
        <div class="card_title title-white">
            <mat-icon>favorite</mat-icon>
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 3">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
        </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 4">
        <div class="card_image title-white">
            <img src="../../../assets/img/logo.jpg" />
            </div>
        <div class="card_title title-black">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card">
        <div class="card_image"> <img src="../../../assets/img/logo.jpg" /> </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 2">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
            </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 3">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
        </div>
        <div class="card_title">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 4">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
            </div>
        <div class="card_title title-black">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card">
        <div class="card_image"> <img src="../../../assets/img/logo.jpg" /> </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 2">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
            </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 3">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
        </div>
        <div class="card_title">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 4">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
            </div>
        <div class="card_title title-black">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card">
        <div class="card_image"> <img src="../../../assets/img/logo.jpg" /> </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 2">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
            </div>
        <div class="card_title title-white">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 3">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
        </div>
        <div class="card_title">
            <p>Card Title</p>
        </div>
    </div>

    <div class="card 4">
        <div class="card_image">
            <img src="../../../assets/img/logo.jpg" />
            </div>
        <div class="card_title title-black">
            <p>Card Title</p>
        </div>
    </div>
    
</div>