.container
    margin-top:100px
    margin-left: 150px
    width: 80%;

.cards-list
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

.card
    border 0px
    margin: 10px auto;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;

.card .card_image
    width: inherit;
    height: inherit;
    background:#4d5bf9;

.card .card_image img
    width: inherit;
    height: inherit;
    object-fit: cover;

.card .card_title
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: -75px;

.card:hover
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);

.title-white
    color: white;

.title-black
    color: black;

@media all and (max-width: 500px)
    .card-list
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
