<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false"
      >
    <mat-toolbar class="animate__animated animate__bounceInDown" >Menu 
      <button type="button" aria-label="Toggle sidenav" mat-icon-button
          (click)="drawer.toggle(); setNavbar()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    </mat-toolbar>
    <mat-nav-list>
      <div class="navigation animate__animated animate__bounceInRight">
        <ul class="font_averox">
            <li class="list active">
                <a href="#">
									<i class="fa-solid fa-house icon"></i>
									<span class="title">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
									<i class="fa-solid fa-cart-shopping icon"></i>
									<span class="title">Carrito</span>
                </a>
            </li>
						<li class="list">
							<a href="#">
								<i class="fa-solid fa-wallet icon"></i>
								<span class="title">Cartera</span>
							</a>
					</li>
            <li class="list">
                <a href="#">
									<i class="fa-solid fa-screwdriver-wrench icon"></i>
									<span class="title">Configurar</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
									<i class="fa-solid fa-circle-info icon"></i>
									<span class="title">Ayuda</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
									<i class="fa-solid fa-user-astronaut icon"></i>
									<span class="title">Usuario</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
									<i class="fa-solid fa-power-off icon"></i>
									<span class="title">Salir</span>
                </a>
            </li>
        </ul>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-navbar animate__animated animate__bounceInDown">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle(); setNavbar()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span>SmartNewGen</span>
        <span class="example-spacer"></span>

      <div class="form__group">
        <input type="input" class="form__field" placeholder="search" name="search" id='search'/>
        <label for="search" class="form__label">Busca lo que desees</label>
      </div>

			<!-- TODO: agregar los carritos en la pagina de carrito -->
      <!-- <mat-icon class="icon-show">add_shopping_cart</mat-icon> -->
      <!-- <mat-icon class="icon-show">remove_shopping_cart</mat-icon> -->

      <div class="row justify-content-end">
        <div class="col-2"><i matBadge="0" matBadgeColor="warn" class="fa-regular fa-heart icon-nav"></i></div>
        <div class="col-6"><i matBadge="0" matBadgeColor="warn" class="fa-solid fa-cart-shopping icon-nav"></i></div>

        <!-- <mat-icon matBadge="15" matBadgeColor="alert">home</mat-icon> -->
        <!-- Desconectado -->
        <div class="col-2">
          <h1 style="color:#fff">
            <span class="icon-nav"><i class="fa-solid fa-right-to-bracket"></i> Log in</span> | <span class="icon-nav">Register</span>
          </h1>
        </div>
        <!-- Conectado -->
        <!-- <div class="col-1 icon-nav"><h1><i class="fa-solid fa-user-astronaut"></i> Slasher</h1></div> -->

      </div>

    </mat-toolbar>

    <!--Add search for types -->
    <app-nav-search></app-nav-search>
  </mat-sidenav-content>
</mat-sidenav-container>
