<div class="navigation">
    <ul>
        <li class="list active">
            <a href="#">
                <span class="icon">
                    <img alt="Home" width="25px" src="https://img.icons8.com/color/48/000000/home.png"/>
                </span>
                <span class="title">Home</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <img alt="Shopping" width="25px" src="https://img.icons8.com/color/48/000000/shopping-cart--v2.png"/>
                </span>
                <span class="title">Carrito</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <img alt="Config" width="25px" src="https://img.icons8.com/color/48/000000/gears.png"/>
                </span>
                <span class="title">Configurar</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <img alt="questions" width="25px" src="https://img.icons8.com/color/48/000000/stackexchange.png"/>
                </span>
                <span class="title">Ayuda</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <img alt="User" width="25px" src="https://img.icons8.com/color/48/000000/gender-neutral-user.png"/>
                </span>
                <span class="title">Usuario</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <img alt="Disconect" width="25px" src="https://img.icons8.com/color/48/000000/exit.png"/>
                </span>
                <span class="title">Salir</span>
            </a>
        </li>
    </ul>
</div>

<div class="toggle">
    <img class="open" alt="Menu-open" width="30px" src="https://img.icons8.com/color/48/000000/menu--v8.png"/>
    <img class="close" alt="Menu-close" width="30px" src="https://img.icons8.com/color/48/000000/delete-sign--v1.png"/>
</div>