$background = #4d5bf9
$shadow = rgba(0,0,0,0.20)

.mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgba(232, 230, 227, 0.87);
    display: contents;
}

.mat-icon {
    margin-left: 6px;
}

.filter_price
    padding 20px


.slider
    width 100%
    margin-bottom -20px

.input_price
    width 84px
    min-width 84px

.separe_prices
    display: inline-block
    position: relative
    margin: 0px 5px 0px 5px

.in_block
    margin-top: 50px 
    // display: inline-block
    // position: relative

.container
    display: inline-block
    margin: 50px
    color: #fff
    position: relative
    width: 228px;
    min-width: 228px
    padding: 0px
    background-color:$background
    -webkit-box-shadow: 10px 10px 5px 0px $shadow;
    -moz-box-shadow: 10px 10px 5px 0px $shadow;
    box-shadow: 10px 10px 5px 0px $shadow;

.filter_main
    background-color:$background

.container .color
    background-color:$background
    border-radius 0px
    border none

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}