$background = #4d5bf9
$shadow = rgba(0,0,0,0.20)

.filter_price
    padding 30px

.slider
    width 100%
    margin-bottom -20px

.input_price
    width 101px
    margin-right: 10px

.separe_prices
    display: inline-block
    position: relative
    margin-right: 8px

.in_block
    display: inline-block
    position: relative

.container
    display: inline-block
    position: relative
    width: 300px;
    min-width: 300px
    padding: 0px
    background-color:$background
    -webkit-box-shadow: 10px 10px 5px 0px $shadow;
    -moz-box-shadow: 10px 10px 5px 0px $shadow;
    box-shadow: 10px 10px 5px 0px $shadow;

.filter_main
    background-color:$background

.container .color
    background-color:$background
    border-radius 0px
    border none

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}