/* You can add global styles to this file, and also import other style files */

html
    height: 100%;

body 
    margin: 0; 
    font-family: cascadia, roboto, arial, helvetica, sans-serif;
    height: 100%; 

@font-face
    font-family: cascadia;
    src: url(assets/fonts/CascadiaCode/CascadiaCode.ttf);

* 
    font-family: cascadia, roboto, arial, helvetica, sans-serif;
    font-weight: 900;

.card-container
    display: inline-block;
    background: transparent;
    padding-top     : 40px;
    padding-left    : 40px;
    width           : 80%;

.container_sng
    margin-top : 0px;

.container_column
    margin-left: 250px
    transition: 0.2s;

.container_column_no
    margin-left: 0px
    transition: 0.2s;

.background
    background: url(assets/img/logo.jpg)
    background-size         : cover;
    -moz-background-size    : cover;
    -webkit-background-size : cover;
    -o-background-size      : cover;
