/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: cascadia, roboto, arial, helvetica, sans-serif;
}

@font-face {
    font-family: cascadia;
    src: url(assets/fonts/CascadiaCode/CascadiaCode.ttf);
}

* { 
    font-family: cascadia, roboto, arial, helvetica, sans-serif;
    font-weight: 900;
}