<div class="slider animate__animated animate__flipInX">
    <ul>
        <li><img src="https://cdn-sliders.eneba.com/resized/nnqj4BI8oH1IRlEt30aP5FO2KSdRPamLXqPoPI5TAJk_1500x400_1x-1500x400_150_0.jpeg" alt="img1"></li>
        <li><img src="https://cdn-sliders.eneba.com/resized/nnqj4BI8oH1IRlEt30aP5FO2KSdRPamLXqPoPI5TAJk_1500x400_1x-1500x400_150_0.jpeg" alt="img2"></li>
        <li><img src="https://cdn-sliders.eneba.com/resized/nnqj4BI8oH1IRlEt30aP5FO2KSdRPamLXqPoPI5TAJk_1500x400_1x-1500x400_150_0.jpeg" alt="img3"></li>
        <li><img src="https://cdn-sliders.eneba.com/resized/nnqj4BI8oH1IRlEt30aP5FO2KSdRPamLXqPoPI5TAJk_1500x400_1x-1500x400_150_0.jpeg" alt="img4"></li>
    </ul>
</div>